# Python virtual environment
venv/
.env

# Python cache
__pycache__/
*.pyc
*.pyo

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Database
*.db
*.sqlite
*.sqlite3

# Logs
*.log

# Node / Angular
node_modules/
dist/
.angular/

# Build artifacts
build/
